@use "mixins";
@use "variables";

.container.mobile {
  .nav-bar .nav-item {
    width: 5em;

    &.logo img {
      width: 2.2em;
      top: 50%;
      left: 50%;
    }
    .fa {
      font-size: variables.$font-size-large;
    }
  }

  #multi-color-picker {
    .color-picker-container .fa {
      font-size: 1.6em;
    }
    .widget-controls {
      .control,
      .status {
        width: 5em;

        .fa {
          font-size: variables.$font-size-large;
        }
      }
    }
  }

  .control-widget {
    @include mixins.transition(right, variables.$transition-duration);
    @include mixins.transition(z-index, variables.$transition-duration);
    right: -33.3%;
    width: 33.3%;

    .theme-item {
      height: 6em;

      .control {
        width: 4.1em;

        .fa {
          font-size: variables.$font-size-large;
        }
      }
    }
  }

  #whatsapp {
    display: inline-block;
  }

  ~ .sp-container {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;

    .sp-picker-container {
      width: 400px;

      .sp-button-container {
        margin-top: 8px;

        .sp-cancel,
        .sp-choose {
          font-size: variables.$font-size-large;
        }
      }
      .sp-palette-row-initial .sp-thumb-el {
        width: 60px;
        height: 46px;

        .sp-thumb-inner {
          width: 60px;
          height: 46px;
        }
      }
    }
  }

  &.full {
    .control-widget {
      @include mixins.transition(right, variables.$transition-duration);
      right: -33.3%;
    }
  }

  &.colorpicker,
  &.list {
    .content-widget,
    .nav-bar {
      @include mixins.transition(width, variables.$transition-duration);
      width: 66.7%;
    }
    .control-widget {
      @include mixins.transition(right, variables.$transition-duration);
      right: 0;
    }
  }
}
