@use "mixins";
@use "variables";

.control-widget {
  &#theme-list {
    .info {
      color: variables.$infoTextGrey;
      text-align: right;
      padding: 4px;
    }
    .reset {
      width: 100%;
      padding: 0.5em;

      font-size: 1.3rem;
      color: variables.$infoTextGrey;
    }
    .credits {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1.4em 1em;

      a {
        text-decoration: none;
        color: variables.$infoTextGrey;
      }
    }
  }

  .theme-item {
    height: 4em;
    margin: 0.3em 0;
    padding: 1px 1px 1px 0;
    cursor: pointer;
    position: relative;

    .color-item {
      width: 12%;
      height: 100%;
      display: inline-block;
    }

    .control {
      width: 3em;
      display: inline-block;
      float: right;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

      .fa {
        position: relative;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
        color: variables.$themeItemDeleteRed;
      }
    }

    &.active .fa {
      color: white;
    }
  }

  &#multi-color-picker {
    .color-picker-icon {
      position: absolute;
      right: 0;
      padding: 4px 8px;
    }

    .color-picker {
      cursor: pointer;
    }

    .widget-controls {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 4em;

      .control {
        cursor: pointer;
        z-index: variables.$zIndexControlBtnOnTop;
      }

      .control,
      .status {
        display: inline-block;
        height: 100%;
        width: 4em;
        float: right;
        transition-property: opacity;
        transition-duration: 0.5s;
        opacity: 1;

        .fa {
          position: relative;
          top: 50%;
          left: 50%;
          color: #676767;
          margin: auto;
          transform: translate(-50%, -50%);
          font-size: 1.6rem;
        }
      }

      .status {
        float: left;
        display: none;

        &.show {
          display: inline-block;
        }
      }

      #status-success .fa {
        color: variables.$statusSuccessGreen;
      }
    }
  }
}

.container.mobile {
  .control-widget {
    @include mixins.transition(right, variables.$transition-duration);
    @include mixins.transition(z-index, variables.$transition-duration);
    right: -33.3%;
    width: 33.3%;

    .theme-item {
      height: 6em;

      .control {
        width: 4.1em;

        .fa {
          font-size: variables.$font-size-large;
        }
      }
    }
  }
}
