@use "variables";

.content-widget#cookie-info {
  .cookie-info {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 40%;
    background-color: variables.$modalBackgroundGrey;
    text-align: center;
    box-sizing: border-box;
    padding: 2em;

    .info-wrapper {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .text {
      display: inline-block;
      width: 100%;
      font-size: 1.3em;
      text-align: center;
      font-family: variables.$fontOpenSans;
    }

    .confirm {
      display: inline-block;
      padding: 0.4em 0.4em 0.4em 0.4em;
      margin-top: 1.6em;
      font-size: 1.4em;
      font-family: variables.$fontOpenSans;
      background-color: variables.$modalControlBackgroundLightGrey;
    }
  }
}
