$fontOpenSans: "Open Sans", sans-serif;
$font-size-large: 2em;
$infoTextGrey: #ababab;
$modalBackgroundGrey: rgba(72, 72, 72, 0.8);
$modalControlBackgroundLightGrey: rgba(255, 255, 255, 0.3);
$statusSuccessGreen: #24de35;
$themeItemDeleteRed: #ff5e36;
$transition-duration: 0.5s;
$zIndexControlBtnOnTop: 9999995;
$zIndexControlWidgetOnBottom: 300;
$zIndexControlWidgetOnTop: 9000;
