@use "variables";

@use "color-picker";
@use "container";
@use "container-mobile";
@use "content-widget";
@use "control-widget";
@use "nav-bar";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  color: white;
  position: relative;
}

.container:not(.mobile) ~ .sp-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.sp-container {
  background-color: white;

  .sp-button-container button {
    background-image: initial;
  }
}
