@use "variables";
@use "mixins";

@use "color-picker";
@use "control-widget";
@use "nav-bar";
@use "widgets";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: white;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  font-size: 12px;
  position: relative;
  overflow: hidden;

  &:not(.mobile) ~ .sp-container {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }

  &.mobile {
    &.full {
      .control-widget {
        @include mixins.transition(right, variables.$transition-duration);
        right: -33.3%;
      }
    }

    &.colorpicker,
    &.list {
      .content-widget#tentacles {
        left: calc((66.7% - 100%) / 2);
      }

      .content-widget,
      .nav-bar {
        @include mixins.transition(width, variables.$transition-duration);
        width: 66.7%;
      }
      .control-widget {
        @include mixins.transition(right, variables.$transition-duration);
        right: 0;
      }
    }
  }
}
